.unSelectable {
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

*{
font-family: arial,sans-serif;
}

.hoverRow:hover{
    background-color:aliceBlue;
}